@import url('https://rsms.me/inter/inter.css');
*{
    scroll-behavior: smooth;
}
.landing{
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: url(https://cdn.pixabay.com/photo/2017/06/21/22/40/guitar-2428921_960_720.jpg) no-repeat; */
    background-size: cover;
    
}
.page{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(5px);
}

.title-l, .title2-l{
    font-size: 100px;
    font-family: 'Inter var', sans-serif;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 100px;
    background: -webkit-linear-gradient(#f5536b, #e22794);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.desc-l{
    font-family: 'Inter var', sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 34px;
    color: #fff;

}
.btn-l{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: linear-gradient(to bottom right, #f5536b 0%, #e22794 100%);
    color: #fff;
    font-family: 'Inter var', sans-serif;

    font-size: 20px;
    font-weight: 600;
    line-height: 29px;

}
.l-avail{
    color: #fff;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

@media only screen and (max-width:600px){
    .title-l, .title2-l{
        font-size: 79px;
        font-family: 'Inter var', sans-serif;
        font-weight: 900;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 78px;
        background: -webkit-linear-gradient(#f5536b, #e22794);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .l-avail{
        color: #fff;
        opacity: 0.5;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
    }
    .landing{
        height: auto;
    }
}
.page {
  padding: 40px;
   
}


#splash {
  background: #0F1216;
  background-repeat: repeat-y;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: splash 3s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#loader {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
}

#loader:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -170px;
  width: 3px;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  height: 200px;
}

#loader:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: 8px;
  bottom: -190px;
  width: 3px;
  background: #000;
  background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0) 100%);
  height: 200px;
}

#splash .anim {
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%,100%);
  animation: loader 4s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    transform: translate(-50%,110%);
  }
  30% {
    transform: translate(-50%,50%);
  }
  100% {
    transform: translate(-50%,0%);
  }
}

@keyframes splash {
  0% {
    transform: translate(0%,0%);
  }
  50% {
    transform: translate(0%,0%);
  }
  100% {
    transform: translate(0%,-100%);
  }
}

/* .background{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  display: flex;
  height: 650px;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 100;
  flex-direction: column;
}
.content h1{
  z-index: 100;
  font-size: 180px;
  font-family: 'Bigilla';
  color: #e0e0e0;
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: -5px;
  font-weight: lighter;
  transition: 1s ease-in-out;
}
.content h1:hover{
  transition: 1s ease-in-out;
  color: rgb(136,255,0);
}
.content p{
  z-index: 100;
  margin-top: -10px;
  font-size: 20px;
  display: block;
  font-family: 'Monument';
  font-weight: lighter;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(180,180,180);

}
.content p:hover::after{
  opacity: 1;
  transform: scaleX(1);
  transform-origin: 0 50%;
  transition: transform 0.7s cubic-bezier(0.2,1,0.3,1),
              opacity 0.1s linear;
}
.content p::after{
  content: "";
  position: absolute;
  margin-top: 25px;
  left: 44.5%;
  width: 210px;
  z-index: 100;
  height: 2px;
  background: rgba(136,255,0);
  transform:scaleX(0.001);
  opacity: 0 ;
  transform-origin: 100% 50%;
  transition: transform 0.3s cubic-bezier(0.2,1,0.3,1),
              opacity 0.1s linear 0.2s ;
} */