.left-new,
.right-new {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.left-new {
  background: #B3B4AF;
  left: 0%;
  width: 0%;
}

.right-new {
  background: #191921;
  right: 0%;
  width: 100%;
}

.nav-new ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.nav-new ul li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 8px;
  font-weight: 600;
  padding: 0 30px;
}

.nav-new .logo-new {
  flex: 1;
  font-size: 18px;
  letter-spacing: 0;
}

.nav-new .menu-new {
  flex: 1;
  font-size: 18px;
}

.nav-new .collection {
  flex: 1;
}

.nav-new .explore {
  flex: 4;
}

.nav-new .search {
  flex: 3;
}

.nav-new .profile {
  flex: 0;
}

.nav-new .profile .img {
  background-image: url(https://cdn.pixabay.com/photo/2022/01/25/12/58/conifer-6966140_960_720.jpg);
  background-position: 50%;
  background-size: cover;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.img-wrapper {
  position: absolute;
  bottom: 0;
  left: 180px;
}

.img-wrapper .karina {
  background-image: url(https://cdn.pixabay.com/photo/2022/01/25/12/58/conifer-6966140_960_720.jpg);
  background-size: cover;
  height: 550px;
  width: 0;
}

.info {
  position: absolute;
  bottom: 0;
  left: 180px;
  background: rgba(0, 0, 0, .8);
  padding: 0 10px;
}

.info ul li {
  display: inline-block;
  padding: 20px 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 8px;
  font-weight: 600;
}

.info i {
  font-size: 18px;
}

.text {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

.text h1 {
  font-size: 90px;
  color: #fff;
  font-family: 'Raiderfont';
  text-transform: uppercase;
}

.text p {
  font-size: 20px;
  color: #fff;
  font-family: monospace;
}

.name {
  position: absolute;
  top: 50%;
  left: -270px;
  transform: translateY(-50%);
  font-size: 90px;
  font-family: 'Raiderfont';
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.bottomnav {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.bottomnav ul li {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-top: 20px;
}

.bottomnav ul li:nth-child(2) {
  font-weight: bolder;
}

.bottomnav ul li:nth-child(2)::before {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  width: 65px;
  margin: 0 10px 0 -78px;
  transform: translateY(-3px);
}