.carousel {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: -webkit-linear-gradient(#f5536b, #e22794); */
  padding: 20px;
  color: #fff;
  margin: 0 15px;
  font-size: 4em;
}
